.section-table , .section-formProduct{
  margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .section-table {
    width: 70%;
  }
  .section-formProduct {
    width: 30%;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
  }

.main-product{
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}
