
.form-contact {
  width: 90%;
}

.section-form {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    border-bottom: 0.2rem solid $color-primary;
    margin: 1.5rem 2rem;
    display: inline-block;
  }
}

.main-contact {
  display: grid;
  background-color: $color-secondary;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  min-height: calc(100vh - 91px - 70px);
}

.section-location {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  // position: relative;
  // justify-content: center;


  &__title {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    border-bottom: 0.2rem solid $color-primary;
    margin: 1.5rem 2rem;
    display: inline-block;
  }

  &__map {

    width: 90%;

  }
}

#map {
      width: 100%;
      min-width: none;
    }