.form-contact {
  width: 60%;
}

.section-form {
  width: 100vw;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    border-bottom: 0.2rem solid $color-primary;
    margin: 1.5rem 2rem;
    display: inline-block;
  }
}

.main-contact {
  width: 100vw;
  display: grid;
  background-color: $color-secondary;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  min-height: calc(100vh - 91px - 70px);
}

.section-location {
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  overflow: hidden;

  &__title {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    border-bottom: 0.2rem solid $color-primary;
    margin: 1.5rem 2rem;
    display: inline-block;
  }

  &__map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  #map {
    width: 90vw;
  }
}

@media screen and (min-width: 600px) {
  .section-location {
  #map {
    width: 100%;
  }}
.section-form , .section-location {width: 100%;}

}
